/* body{
    background-color: #000 ;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flower{
    height: 200px;
    width: 200px;
    margin: 20px auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: #000;

    animation: pulsate 2s infinite;
}

.text-above, .text-below{
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.text-above{
    top: -60px;
}

.text-below{
    bottom: -60px;
}

@keyframes pulsate {
    0%{
        transform: scale(1.5);
    }

    50%{
        transform: scale(1.6);
    }

    100%{
        transform: scale(1.5);
    }
}

.mid{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: radial-gradient(circle, #000, #ff5e00, #000);

    z-index: 4;
    background-size: 5px 5px;
    filter: drop-shadow(0 0 8px #682600);
}

.Petal1{
    position: absolute;
    left: 40px;
    z-index: 3;

    width: 120px;
    height: 30px;
    border-radius: 50%;

    background: radial-gradient(circle, #ff5e00, #ffbb00);

    filter: drop-shadow(0 0 5px #e05200);
}

.Petal1.p1{
    transform: rotate(22.5deg);
}
.Petal1.p2{
    transform: rotate(67.5deg);
}
.Petal1.p3{
    transform: rotate(110.5deg);
}
.Petal1.p4{
    transform: rotate(157.5deg);
}

.Petal2 {
    position: absolute;
    left: 0;
    z-index: 2;

    width: 200px;
    height: 40px;
    border-radius: 50%;

    background: radial-gradient(circle, #ff5e00, #fbd702);

    filter: drop-shadow(0 0 5px #e05200);
}

.Petal2.p2{
    transform: rotate(90deg);
}
.Petal2.p3{
    transform: rotate(45deg);
}
.Petal2.p4{
    transform: rotate(135deg);
}

.Petal3 {
    position: absolute;
    left: 0px;
    z-index: 1;

    width: 200px;
    height: 40px;
    border-radius: 50%;

    background: radial-gradient(circle, #ff5e00, #fbd702);

    filter: drop-shadow(0 0 2px #fbd702);
}

.Petal3.p1{
    transform: rotate(22.5deg);
}
.Petal3.p2{
    transform: rotate(67.5deg);
}
.Petal3.p3{
    transform: rotate(110.5deg);
}
.Petal3.p4{
    transform: rotate(157.5deg);
} */


body{
    background-color: #000 ;
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-above{
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 25px;
    top: 15%;
}


.flower{
    height: 200px;
    width: 200px;
    margin:auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;


    animation: rotate infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes pulsate {
    0%{
        transform: scale(1.5);
    }

    50%{
        transform: scale(1.6);
    }

    100%{
        transform: scale(1.5);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.mid{
    width: 75px;
    height: 75px;
    border-radius: 50%;

    background: radial-gradient(circle, #000, #ff5e00, #000);

    z-index: 4;
    background-size: 5px 5px;
    filter: drop-shadow(0 0 8px #682600);
}

.Petal1{
    position: absolute;
    margin: auto;
    z-index: 3;

    width: 180px;
    height: 45px;
    border-radius: 50%;

    background: radial-gradient(circle, #ff895b, #C50213);

    filter: drop-shadow(0 0 5px #a13f3f);
}

.Petal1.p1{
    transform: rotate(22.5deg);
}
.Petal1.p2{
    transform: rotate(67.5deg);
}
.Petal1.p3{
    transform: rotate(110.5deg);
}
.Petal1.p4{
    transform: rotate(157.5deg);
}

.Petal2 {
    position: absolute;
    margin: auto;
    z-index: 2;

    width: 300px;
    height: 60px;
    border-radius: 50%;

    background: radial-gradient(circle, #ff895b, #C50213);

    filter: drop-shadow(0 0 5px #a13f3f);
}

.Petal2.p2{
    transform: rotate(90deg);
}
.Petal2.p3{
    transform: rotate(45deg);
}
.Petal2.p4{
    transform: rotate(135deg);
}

.Petal3 {
    position: absolute;
    margin: auto;
    z-index: 1;

    width: 300px;
    height: 60px;
    border-radius: 50%;

    background: radial-gradient(circle, #ff895b, #C50213);

    filter: drop-shadow(0 0 2px #a13f3f);
}

.Petal3.p1{
    transform: rotate(22.5deg);
}
.Petal3.p2{
    transform: rotate(67.5deg);
}
.Petal3.p3{
    transform: rotate(110.5deg);
}
.Petal3.p4{
    transform: rotate(157.5deg);
}

.tallo{
    position: absolute;
    bottom: 0;
    height: 50%;
    z-index: -1;
    width: 20px;
    margin: auto;
    background-color: #4CAF50;
}

.leaf {
    width: 0;
    height: 0;
    border-top: 80px solid #4CAF50; /* Color verde */
    border-right: 40px solid transparent;
    position: absolute;
    top: 61%;
    left: 43%;
    transform: rotate(-45deg);
}

.leaf2{
    width: 0;
    height: 0;
    border-top: 80px solid #4CAF50; /* Color verde */
    border-right: 40px solid transparent;
    position: absolute;
    top: 65%;
    left: 52%;
    transform: rotate(25deg);
}